@model Negocio.Objetos.Piso

@{
    ViewBag.Title = "Edit";
}
@Scripts.Render("~/bundles/jqueryval")



@using (Html.BeginForm())
{
    <body>
        <!-- The Modal -->

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editar Piso</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<<<<<<< HEAD
                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.id_piso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 input-group" >
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.id_piso, new { htmlAttributes = new { @class = "form-control" } })
=======
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_piso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.id_piso, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
>>>>>>> c88661389b08efab481fc9b1cf98f0022df0696e
                                @Html.ValidationMessageFor(model => model.id_piso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.desc_piso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.desc_piso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.desc_piso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.estado_piso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.DropDownList("estado_piso", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.estado_piso, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" value="Registar" class="btn btn-success">

                </div>
            </div>
        </div>
    </body>
}