@model Negocio.Objetos.Habitacion
@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")

<h2>Create</h2>

@using (Html.BeginForm())
{
    <body>
        <!-- The Modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Habitaciones</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">


                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.num_habi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.num_habi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.num_habi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.desc_habi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.desc_habi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.desc_habi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.precio_habi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.precio_habi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.precio_habi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.cat_id, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.DropDownList("cat_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cat_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_piso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.DropDownList("id_piso", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_piso, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.img_habi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.img_habi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.img_habi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.estado_habi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10  input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.DropDownList("estado_habi", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.estado_habi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" value="Registar" class="btn btn-success">
                </div>
            </div>
        </div>



    </body>
}

