@model IEnumerable<Negocio.Objetos.Habitacion>
@{
                /**/

                ViewBag.Title = "Habitacion";
}
<h2>Habitacion</h2>
<p>
    <button type="button" data-toggle="modal" class="btn btn-primary modalcreate" data-url='@Url.Action("Create","Habitacion")'><i class="fas fa-plus"></i> Add New</button>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.num_habi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desc_habi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_habi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cat_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_piso)
            </th>
            <th style="width:15%">
                @Html.DisplayNameFor(model => model.img_habi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado_habi)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        @{
            Dominio.MainModule.StateManager statem = new Dominio.MainModule.StateManager();
            var e = statem.ListaState.ToList().Where(x => x.valor == item.estado_habi).FirstOrDefault();
            var clase = "";
            switch (e.valor)
            {
                case "0": clase = "badge badge-danger"; break;
                case "1": clase = "badge badge-success"; break;
                default: clase = "badge badge-warning"; break;
            }

        }
        <td>
            @Html.DisplayFor(modelItem => item.num_habi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_habi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_habi)
        </td>
        <td>
            @{
                Dominio.MainModule.CategoriaManager cm = new Dominio.MainModule.CategoriaManager();
                var objH = cm.Find(item.cat_id);
                <a> @objH.desc_cat</a>
            }
        </td>
        <td>
            @{

                Dominio.MainModule.PisoManager pm = new Dominio.MainModule.PisoManager();
                var objP = pm.Find(item.id_piso);
                <a> @objP.desc_piso </a>
            }
        </td>
        <td>
            <img class="img-thumbnail" src=" @Html.DisplayFor(modelItem => item.img_habi)" />
        </td>
        <td>
            <span class="@clase">@e.nombre</span>
        </td>
        <td style="width: 12%;">
            <button type="button" data-toggle="modal" class="btn btn-secondary modaledit" data-url='@Url.Action("Edit","Habitacion", new { id = item.num_habi})'>
                <i class="fas fa-edit"></i>
            </button>
            <a class="btn btn-danger" href='#' onclick="Confirmar(@item.num_habi)"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    }
</table>
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static"></div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
            $(".modalcreate").click(function () {
                let url = $(this).data("url");
                $.get(url, function (data) {
                    $("#myModal").html(data);
                    $("#myModal").modal();
                });
            });

            $(".modaledit").click(function () {
                let url = $(this).data("url");
                $.get(url, function (data) {
                    $("#myModal").html(data);
                    $("#myModal").modal();
                });
            });
        function Confirmar(id) {
            if (confirm("¿Seguro que desea eliminar el registro con ID: " + id + "?")) {
                location.href = "/Cliente/Delete/" + id;
            }
        }
        })

        function Confirmar(id) {
            if (confirm("¿Seguro que desea eliminar el registro con ID: " + id + "?")) {
                location.href = "/Habitacion/Delete/" + id;
            }
        }

    </script>
}
