@model Negocio.Objetos.Categoria

@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/bundles/jqueryval")

<h2>Create</h2>

@using (Html.BeginForm())
{
    <body>
        <!-- The Modal -->

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Categoria</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.desc_cat, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.EditorFor(model => model.desc_cat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.desc_cat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.estado_cat, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-cog"></i></div>
                                </div>
                                @Html.DropDownList("estado_cat", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.estado_cat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" value="Registar" class="btn btn-success">

                </div>

            </div>
        </div>

    </body>
}