@model IEnumerable<Negocio.Objetos.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dni_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apenom_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_usu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dni_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apenom_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_usu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { dni=item.dni_usu }) |
            @Html.ActionLink("Details", "Details", new { dni=item.dni_usu }) |
            @Html.ActionLink("Delete", "Delete", new {  dni=item.dni_usu })
        </td>
    </tr>
}

</table>
